@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #CFB9D6; 
  --gray-purple: #756774;

  --bg-lilac: #F9E7FF;
  --bg-yellow: #FCFFD6;
  --bg-turqoise: #83C1CE;

  --grey: #0000006c;
}

html {
  height: 100%;
}


body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-size:cover;
  background-image: linear-gradient(to bottom, var(--bg-lilac), var(--bg-yellow));
  background-attachment: fixed;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--purple);
  overflow: auto;
  font-family: "JetBrains Mono", monospace;
  padding: 0.8%;
}

/* Style the Webpage name inside the navigation bar */
.topnav p {
  color: var(--gray-purple);
  float: left;
  text-align: center;
  display: inline;

  padding: 1%;
  padding-left: 4%;
  text-decoration: none;
  font-size: 12px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: var(--black);
  float: right;
  text-align: center;
  display: inline;

  padding: 2% 2.5% 1%;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: overline;
  text-decoration-thickness: 2px;
}


button {
  background-color: var(--black);
  border: none;
  border-radius: 5px;
  color: var(--white);
  float: right;
  text-align: center;
  font-size: 12px;
  padding: .8% 2%;
  margin: 1%;
  font-family: "JetBrains Mono", monospace;
  outline-style:solid;
  outline-color: var(--black);
  outline-width: 2px;
}

button:hover {
  background-color: var(--bg-lilac);
  color: var(--black);
  outline-style:solid;
  outline-color: var(--black);
  outline-width: 2px;
}


.aboutMe {
  padding: 5% 12%;
  display: flex;
  align-items: center; 
  text-align: justify;
  justify-content: center;

}

.text {
  max-width: 50%;
  font-weight: 700;
  float:left;
}

h1 {
  font-family: "JetBrains Mono", monospace;

}

.main {
  font-family: "Kameron", serif;
  font-weight: normal;
  line-height: 20px;   /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
}

img {
  max-width: 60%;
  height: auto;
  float:right;
  align-items: center;

  border: 3px solid var(--black);
  box-shadow: 1px 1px 1px 1px var(--black);
}

.popup {
  position:absolute;
  display:inline-block;
  bottom: 12%;
  left: 2%;
  padding: 15% 15% 0% 0%;
  width: max-content;
  color: var(--white);

}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: var(--grey);
  border-radius: 6px;
  padding: 0% 20% 0% 20%;
  align-items: center;
  width: max-content;
  font-family: "JetBrains Mono", monospace;
  font-size: small;
}

.popup a {
  color: var(--white);
  text-align: center;
}

.popup a:hover {
  color: var(--black);
  text-align: center;
  text-decoration: none;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}